'exception-reporting':
  'userId': '9929b99d-0d4a-dad2-a6fb-6995fba5c783'
'release-notes':
  'viewedVersion': '0.81.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'd4c1c2955ebce31f0c76e966dfba62e213eca220'
'editor':
  'fontSize': 16
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
'gist-it':
  'newGistsDefaultToPrivate': true
'autocomplete-plus': {}
'dash':
  'grammars':
    'ActionScript': [
      'actionscript'
    ]
    'Boo': [
      'unity3d'
    ]
    'C': [
      'c'
      'glib'
      'gl2'
      'gl3'
      'gl4'
      'manpages'
    ]
    'C#': [
      'net'
      'mono'
      'unity3d'
    ]
    'C++': [
      'cpp'
      'net'
      'boost'
      'qt'
      'cvcpp'
      'cocos2dx'
      'c'
      'manpages'
    ]
    'CSS': [
      'css'
      'bootstrap'
      'foundation'
      'cordova'
      'phonegap'
    ]
    'Clojure': [
      'clojure'
    ]
    'CoffeeScript': [
      'coffee'
      'javascript'
      'jquery'
      'jqueryui'
      'jquerym'
      'backbone'
      'marionette'
      'meteor'
      'sproutcore'
      'moo'
      'prototype'
      'bootstrap'
      'foundation'
      'lodash'
      'underscore'
      'ember'
      'sencha'
      'extjs'
      'titanium'
      'knockout'
      'zepto'
      'yui'
      'd3'
      'svg'
      'dojo'
      'nodejs'
      'mongoose'
      'grunt'
      'express'
      'chai'
      'html'
      'css'
      'cordova'
      'phonegap'
      'unity3d'
    ]
    'CoffeeScript (Literate)': [
      'coffee'
      'javascript'
      'jquery'
      'jqueryui'
      'jquerym'
      'backbone'
      'marionette'
      'meteor'
      'sproutcore'
      'moo'
      'prototype'
      'bootstrap'
      'foundation'
      'lodash'
      'underscore'
      'ember'
      'sencha'
      'extjs'
      'titanium'
      'knockout'
      'zepto'
      'yui'
      'd3'
      'svg'
      'dojo'
      'nodejs'
      'mongoose'
      'grunt'
      'express'
      'chai'
      'html'
      'css'
      'cordova'
      'phonegap'
      'unity3d'
    ]
    'ColdFusion': [
      'cf'
    ]
    'Elixir': [
      'elixir'
    ]
    'Erlang': [
      'erlang'
    ]
    'GitHub Markdown': [
      'markdown'
    ]
    'Go': [
      'go'
    ]
    'HTML': [
      'html'
      'svg'
      'css'
      'bootstrap'
      'foundation'
      'javascript'
      'jquery'
      'jqueryui'
      'jquerym'
      'angularjs'
      'backbone'
      'marionette'
      'meteor'
      'moo'
      'prototype'
      'ember'
      'lodash'
      'underscore'
      'sencha'
      'extjs'
      'knockout'
      'zepto'
      'cordova'
      'phonegap'
      'yui'
    ]
    'HTML (Rails)': [
      'ruby'
      'rubygems'
      'rails'
      'html'
      'svg'
      'css'
      'bootstrap'
      'foundation'
      'javascript'
      'jquery'
      'jqueryui'
      'jquerym'
      'angularjs'
      'backbone'
      'marionette'
      'meteor'
      'moo'
      'prototype'
      'ember'
      'lodash'
      'underscore'
      'sencha'
      'extjs'
      'knockout'
      'zepto'
      'cordova'
      'phonegap'
      'yui'
    ]
    'Handlebars': [
      'ember'
    ]
    'Haskell': [
      'haskell'
    ]
    'Jade': [
      'jade'
    ]
    'Java': [
      'java'
      'javafx'
      'grails'
      'groovy'
      'playjava'
      'spring'
      'cvj'
      'processing'
    ]
    'JavaScript': [
      'javascript'
      'jquery'
      'jqueryui'
      'jquerym'
      'backbone'
      'marionette'
      'meteor'
      'sproutcore'
      'moo'
      'prototype'
      'bootstrap'
      'foundation'
      'lodash'
      'underscore'
      'ember'
      'sencha'
      'extjs'
      'titanium'
      'knockout'
      'zepto'
      'yui'
      'd3'
      'svg'
      'dojo'
      'nodejs'
      'express'
      'mongoose'
      'grunt'
      'chai'
      'html'
      'css'
      'cordova'
      'phonegap'
      'unity3d'
    ]
    'LESS': [
      'less'
      'css'
      'bootstrap'
      'foundation'
      'cordova'
      'phonegap'
    ]
    'Lisp': [
      'lisp'
    ]
    'Literate Haskell': [
      'haskell'
    ]
    'Lua': [
      'lua'
      'corona'
    ]
    'OCaml': [
      'ocaml'
    ]
    'Objective-C': [
      'iphoneos'
      'macosx'
      'appledoc'
      'cocos2d'
      'cocos3d'
      'kobold2d'
      'sparrow'
      'c'
      'manpages'
    ]
    'Objective-C++': [
      'iphoneos'
      'macosx'
      'appledoc'
      'cocos2d'
      'cocos3d'
      'kobold2d'
      'sparrow'
      'c'
      'manpages'
      'cpp'
      'cocos2dx'
    ]
    'Objective-J': [
      'cappuccino'
    ]
    'PHP': [
      'php'
      'wordpress'
      'drupal'
      'zend'
      'laravel'
      'yii'
      'joomla'
      'ee'
      'codeigniter'
      'cakephp'
      'symfony'
      'typo3'
      'twig'
      'smarty'
      'mysql'
      'sqlite'
      'mongodb'
      'psql'
      'redis'
      'html'
      'svg'
      'css'
      'bootstrap'
      'foundation'
      'javascript'
      'jquery'
      'jqueryui'
      'jquerym'
      'angularjs'
      'backbone'
      'marionette'
      'meteor'
      'moo'
      'prototype'
      'ember'
      'lodash'
      'underscore'
      'sencha'
      'extjs'
      'knockout'
      'zepto'
      'cordova'
      'phonegap'
      'yui'
    ]
    'Perl': [
      'perl'
      'manpages'
    ]
    'Processing': [
      'processing'
    ]
    'Puppet': [
      'puppet'
    ]
    'Python': [
      'python'
      'django'
      'twisted'
      'sphinx'
      'flask'
      'cvp'
    ]
    'R': [
      'r'
    ]
    'Ruby': [
      'ruby'
      'rubygems'
      'rails'
    ]
    'Ruby Haml': [
      'haml'
    ]
    'Ruby on Rails': [
      'ruby'
      'rubygems'
      'rails'
    ]
    'Rust': [
      'rust'
    ]
    'SQL': [
      'mysql'
      'sqlite'
      'psql'
    ]
    'SQL (Rails)': [
      'ruby'
      'rubygems'
      'rails'
    ]
    'Sass': [
      'sass'
      'compass'
      'bourbon'
      'neat'
      'css'
    ]
    'Scala': [
      'scala'
      'akka'
      'playscala'
    ]
    'Shell Scripts': [
      'bash'
      'manpages'
    ]
    'Stylus': [
      'stylus'
      'css'
      'bootstrap'
      'foundation'
      'cordova'
      'phonegap'
    ]
    'Tcl': [
      'tcl'
    ]
    'YAML': [
      'chef'
      'ansible'
    ]
'markdown-preview': {}
